# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / Coverage reports
.coverage
.coverage.*


# Django stuff
.log

# Other stuff
*.egg-info/
develop-eggs
lib
/.tox/
